@page
@model ErrorModel
@{
    ViewData["Title"] = @Model.Title;
}

<h1 class="text-danger">@Model.Title</h1>
<h2 class="text-danger">@Model.ErrorMessage</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

