
@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
        <div class="jumbotron">
        <h1>SAML Test Service</h1>
        <p>This application is designed to test SAML interaction with Azure AD B2C. It includes the Service Provider and Metadata endpoints.</p>
        <p>This is designed to be used with Azure AD B2C Policies.</p>
    </div>
</div> 